* {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.head_dark {
    background-color: black;
    color: white;
}

.white_font * {
    color: white;
}

.no_underline * {
    text-decoration: none;
}

.nav_side_space {
    margin: 0px 4rem;
}



.nav_row {
    display: flex;
    flex-wrap: wrap;
}
.nav_col {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.nav_col h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
.nav_col.left {
    width: 58%;
}
.nav_col.right {
    width: 33%;
    padding-left: 8%;
}
.nav_list {
    list-style: none;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.nav_face {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.nav_face.out {
    padding: 0.5rem 0rem;    
}
.nav_face.in {
    width: 100%;
}
.nav_face.a {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.25rem;
}
.nav_face.a * {
    font-size: 1.25rem;
}
.nav_face.a > svg{
    margin-right: 0.5rem;
}
.nav_toggle {
    border: 0px;
}
.material-symbols-outlined{
    background-color: black;
    color: gray;
}

.flexible {
    display: flex;

}

/* 메인 */

.album_section {
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.album_row {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
}
.album_col {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.album_section h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.album_col .desc {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    color: gray;
}
.album_col .button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 0.375rem;
}
.album_col .button.blue{
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}
.album_col .button.blue:hover{
    background-color: blue;
    border: 1px solid blue;
}
.album_col .button.gray{
    color: white;
    background-color: gray;
    border: 1px solid gray;
}
.album_col .button.gray:hover{
    background-color: black;
    border: 1px solid black;
}

/* 썸네일 */
.thumbnail_section{
    background-color: gainsboro;
    padding: 3rem 0rem;
}
.thumbnail_list{
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.thumbnail_row{
    display: flex;
    flex-wrap: wrap;
}
.thumbnail_col{
    width: 33%;
    min-width: 24rem;
    max-width: 26rem;
    padding: 0rem 0.1rem;
}