* {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.head_dark {
    background-color: black;
    color: white;
}

.white_font * {
    color: white;
}

.no_underline * {
    text-decoration: none;
}

.nav_side_space {
    margin: 0px 4rem;
}



.nav_row {
    display: flex;
    flex-wrap: wrap;
}
.nav_col {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.nav_col h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
.nav_col.left {
    width: 58%;
}
.nav_col.right {
    width: 33%;
    padding-left: 8%;
}
.nav_list {
    list-style: none;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.nav_face {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.nav_face.out {
    padding: 0.5rem 0rem;    
}
.nav_face.in {
    width: 100%;
}
.nav_face.a {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.25rem;
}
.nav_face.a * {
    font-size: 1.25rem;
}
.nav_face.a > svg{
    margin-right: 0.5rem;
}
.nav_toggle {
    border: 0px;
}
.material-symbols-outlined{
    background-color: black;
}

.flexible {
    display: flex;

}

