* {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

.vw-class {
    background-color: brown;
    width: 50vw;
    height: 60vh;
}

.px-class {
    font-size: 10px;
}

.rem-class {
    font-size: 1.2rem;
}

.em-class {
    font-size: 1.2em;
}

.percent-class {
    font-size: 120%;
}